<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.anoxia.chat.mapper.ChatUserMapper">

    <resultMap id="userResultMap" type="cn.anoxia.chat.common.domain.ChatUser">
        <id     property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/>
        <result property="lastLoginIp" column="last_login_ip"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectById" resultMap="userResultMap">
        SELECT * FROM chat_user WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultMap="userResultMap">
        SELECT * FROM chat_user WHERE username = #{username}
    </select>

    <select id="selectByUsernameAndPassword" resultMap="userResultMap">
        SELECT * FROM chat_user WHERE username = #{username} and password=#{password}
    </select>

    <select id="selectAll" resultMap="userResultMap">
        SELECT * FROM chat_user ORDER BY id DESC
    </select>

    <insert id="insert" parameterType="cn.anoxia.chat.common.domain.ChatUser">
        INSERT INTO chat_user (
        id, username, nickname, password, avatar_url, email, phone, status,
        last_login_ip, last_login_time, created_at, updated_at
        ) VALUES (
       #{id}, #{username}, #{nickname}, #{password}, #{avatarUrl}, #{email}, #{phone},
        #{status}, #{lastLoginIp}, #{lastLoginTime}, NOW(), NOW()
        )
    </insert>

    <update id="update" parameterType="cn.anoxia.chat.common.domain.ChatUser">
        UPDATE chat_user
        SET
        nickname = #{nickname},
        password = #{password},
        avatar_url = #{avatarUrl},
        email = #{email},
        phone = #{phone},
        status = #{status},
        last_login_ip = #{lastLoginIp},
        last_login_time = #{lastLoginTime},
        updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM chat_user WHERE id = #{id}
    </delete>


    <select id="selectUser" resultMap="userResultMap">
        SELECT DISTINCT u.*
        FROM chat_room_member m1
        JOIN chat_room_member m2
        ON m1.room_id = m2.room_id
        JOIN chat_user u
        ON m2.user_id = u.id
        WHERE m1.user_id = #{id};
    </select>


</mapper>
