<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.anoxia.chat.mapper.ChatRoomMapper">

    <resultMap id="ChatRoomResultMap" type="cn.anoxia.chat.common.domain.ChatRoom">
        <id column="room_id" property="roomId"/>
        <result column="room_name" property="roomName"/>
        <result column="room_avatar" property="roomAvatar"/>
        <result column="room_description" property="roomDescription"/>
        <result column="room_lastMessage" property="roomLastMessage"/>
        <result column="room_lastMessageTime" property="roomLastMessageTime"/>
        <result column="room_status" property="roomStatus"/>
        <result column="room_type" property="roomType"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="insertRoom" parameterType="cn.anoxia.chat.common.domain.ChatRoom" useGeneratedKeys="true" keyProperty="roomId">
        INSERT INTO chat_room
        (assessment_id, room_name, room_icon, room_status, room_type, description, created_time)
        VALUES
        (#{assessmentId}, #{roomName}, #{roomIcon}, #{roomStatus}, #{roomType}, #{description}, NOW())
    </insert>

    <select id="selectById" resultMap="ChatRoomResultMap">
        SELECT * FROM chat_room WHERE room_id = #{roomId}
    </select>
    <select id="selectInId" resultMap="ChatRoomResultMap">
        SELECT * FROM chat_room
        WHERE room_id IN
        <foreach collection="roomIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
